<!-- polymer -->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<p>
  Howdy! Here's a list of awesome computer scientists.
  Do you know any others? Add to the list yourself.
</p>

<form (submit)="addName()">
  <paper-input [(ngModel)]="newName" placeholder="Awesome Computer Scientist" ngDefaultControl></paper-input>
  <button type="submit">Add</button>
</form>


<ul>
  <li *ngFor="#name of nameListService.get()">{{name}}</li>
</ul>
